.launcherToolbarClass{
	background: transparent !important;
    border-bottom: 0px !important;
    padding: 20px;
}

.sapMPageHeader::before {
	border-top: transparent;
}

.launcherLogoClass{
	color: white;
    margin-left: 2.1rem;
    font-family: Helvetica Neue, Open Sans, Arial, sans-serif !important;
    font-size: 20px;
    font-weight: 100;
}

.launcherBodyClass{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

.launcherHeaderBtnClass .sapMBtnInner {
	color: #545454;
	font-family: Helvetica Neue, Open Sans, Arial, sans-serif;
}

.searchFldClass{
	width: 20%;
	margin-right: 2rem;
}

.searchFldClass .sapMSFF{
	background: transparent;
}

.scrollContaninerClass .sapMScrollContScroll{
	padding-top: 2rem;	
}

.launcherPanelFont .sapMPanelHdr{
	font-family: Helvetica Neue, Open Sans, Arial, sans-serif !important;
	font-size: 22px;
	color: #fff;
	font-weight: 100;
	padding-left: 2rem !important;
}

.sapSuiteGTHdrContent.S {
	height: 0px !important;
	margin-top: 0rem !important;
}

.sapSuiteTileCntContent.S {
	height: 8.5rem !important;
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
	line-height: 3.5rem;
}

.tileLeftContent {
	width: 80%;
}

.tileRightContent {
	width: 20%;
	background: #25BCF7;
}

.sapSuiteTileCnt.S.ft-Auto {
	height: 142px !important;
	border: none !important;
}

.iconCLass {
	padding-top: 40%;
	padding-left: 14px;
}

.tileFirstbl {
	font-family: Helvetica Neue, Open Sans, Arial, sans-serif !important;
	font-size: 18px;
	font-weight: 100;
}

.tileSecondLbl {
	margin-bottom: 25px;
	font-family: Helvetica Neue, Open Sans, Arial, sans-serif !important;
	font-size: 15px;
	font-weight: 100;
}

.tileThirdLbl {
	margin-bottom: 25px;
	font-family: Helvetica Neue, Open Sans, Arial, sans-serif !important;
	font-size: 13px;
	font-weight: 100;
}

.myCustomTile {
	width: 23.5rem;
	height: 11rem;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	margin: 0.5rem;
}

.sapSuiteGT {
	display: inline-block;
	overflow: hidden;
	background: #ffffff;
	border-radius: 4px;
	position: relative;
	border: none !important;
	outline: none;
}

.launcherPanelFont .sapMPanelBG {
	background-color: transparent;
	margin-left: 20px;
}

.launcherPanelFont .sapMPanelContent {
	border-bottom: 0px solid transparent;
}

.launcherPanelFont .sapMPanelBGTranslucent{
	background-color: transparent;
	margin-left: 8px;
}

.launcherPanelFont .sapMPanelHdr{
	border-bottom: 0px !important;
}

.tileTextColorRed{
	color: red !important
}

.tileTextColorGray{
	color: #666666 !important
}

.tileBgColorRed{
	background: red !important;
}

.tileBgColorWhite{
	background: #fff !important;
}

.sapMSplitContainerMaster{
	width: 280px;	
}

.masterToolbarClass{
	background-color: transparent !important;
    border-bottom: 0px !important;
    padding: 20px;
}

.navBgColorGray{
	background-color: #444443 !important;
}

.navBgColorWhite{
	background-color: #fff !important;
}

.masterListClass{
	margin-top: 2rem;	
}

.listItemClass {
	background-color: transparent !important;
}

.listItemClass2 .sapMSLIInfoNone {
	display: none;
}

.listItemSelectColorRed {
	background: #B81D46 !important;
}

.listItemSelectColorWhite {
	background: #fff !important;
}

.listItemClass.active {
	background: #B81D46 !important;
}

.listItemClass .sapMSLITitleOnly {
	font-weight: normal;
	font-size: 16px;
	font-family: Helvetica Neue, Open Sans, Arial, sans-serif !important;
}

.listTxtColorRed .sapMSLITitleOnly {
	color: red;
}

.listTxtColorRed .sapMListHdr {
	color: #fff !important;
	font-family: Helvetica Neue, Open Sans, Arial, sans-serif !important;
	border-bottom: 0px !important;
}

.listTxtColorGray .sapMSLITitleOnly {
	color: gray;
}

.listTxtColorGray .sapMListHdr {
	color: #fff !important;
	font-family: Helvetica Neue, Open Sans, Arial, sans-serif !important;
	border-bottom: 0px !important;
}

.listTxtColorWhite .sapMSLITitleOnly {
	color: #fff;
}

.listTxtColorWhite .sapMListHdr {
	color: #fff !important;
	font-family: Helvetica Neue, Open Sans, Arial, sans-serif !important;
	border-bottom: 0px !important;
}

.detailHdrBgColor{
	background: #F9F8F8 !important;
}

.detailHdrBarText{
	font-family: Helvetica Neue, Open Sans, Arial, sans-serif !important;
	font-size: 16px !important;
	font-weight: bold !important;
}

.detailHdrTxtColor{
	color: #B81D46 !important;
}

.detailBgColor{
	background: #fff !important;
}

.toolbarClass {
	margin-bottom: 0.5rem !important;
	border-bottom: transparent !important;
}

.searchFieldClass .sapMSFF{
	border-radius: 3px;
}

.sapMPanelBGTranslucent {
    background-color: rgba(255, 255, 255, 0.03);
}